
$mainFont: "Roboto";
$secondaryFont: "Raleway";

:root {
    --main-color: #212121;
    --background-white: #fff;
    --second-white: #f5f4fa;
    --blue: #2196f3;
    --studio-black: #000;
    --hero-color: #2f303a;
    --grey-color: #757575;
    --bottom-color: #afb1b8;
    --border-white: #eee;
}