.footer {
    background: var(--hero-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-address .address {
    margin-bottom: 9px;
}

.footer-ul .footer-li {
    margin-bottom: 9px;
}

.footer .mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


   &:hover,
   &:focus {
            color: var(--background-white);
        }
}

.footer .footer-ul {
    display: block;
    padding-left: 0px;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.footer-div1 {
    flex-direction: column;
    justify-content: center;

}

.footer-div2 {
    display: flex;
    margin-left: 70px;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;

}

.footer-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--background-white);
    margin-bottom: 20px;
    padding: 0;
    align-items: baseline;
    flex-direction: column;

}

.footer {
    background: var(--hero-color);

}

.footer-address {
    font-style: inherit;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--background-white);
}

.bottom-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--background-white);
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: var(--blue);
        }
}

.bottom-list {
    display: flex;
    list-style: none;
    padding: 0;
    fill: var(--background-white);
    gap: 10px;
}

.footer-label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-white);
    margin-bottom: 20px;
}

.footer-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: rgba(33, 150, 243, 0);
    padding: 15px 16px;
    color: var(--background-white);

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


   &:hover,
   &:focus {
            outline: none;
            border: 1px solid var(--background-white);
        }
}

.footer-btn {
    display: inline-flex;
    border-radius: 4px;
    padding: 9px 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196f3;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--background-white);
    margin-left: 12px;
}

.footer-svg {
    margin-left: 10px;
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form {
    margin-left: 93px;
}