html {
    scroll-behavior: smooth;
}

body {
    color: var(--main-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background: var(--background-white);

}

.section-hero {
    background: var(--hero-color);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../іmages/Img.hero.jpg);
    background-position: center;
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
}

.section-work {
    padding-bottom: 94px;
}

.bottom-section {
    padding-bottom: 94px;
    padding-top: 94px;
    background: var(--second-white);
}

.clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.cards-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature-list {
    padding-top: 94px;
    padding-bottom: 94px;

}